.navbar{
  margin-left: 60%;
  margin-top: 5%;
  width: 50%;
}
.navbarUL{
  display: flex;
  margin-left: 50%;
  transform: translate(-50%);
  text-align: center;
  justify-content: center; 
}
.navbarUL li{
  list-style-type: none;
  display: flex;
  margin-right: 15px;
  transition : 0.3s ease;
}
.title{
  text-align: center;
  margin-top: 12%;
  color: greenyellow;
  font-size: 60px;
}
.navbarUL li::before{
  content: "";
  background-color: white;
  height: 1px;
  width: 0px;
  position: absolute;
  bottom: 0;
  transition: 0.3s ease;
}
.navbarUL li:hover::before{
  width: 60px;
}
.titleDiv{
  height: 150px;
  width: 100%;
}
.ctabutton{
  color: #03ff24;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.paragraph{
  margin-right: 5px;
}
.paragraph2::before{
  content: "";
  width: 10px;
  height: 1px;
  background-color: #03ff24;
}
